/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;

}

.ytv {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/


}
.ytv__bottom {
    display: flex;
align-content: baseline;
    flex-direction: column;
    

}
.ytv__left {
    display: flex;
justify-content: baseline;
align-items: center;

}
.ytv__right {
    display: flex;
justify-content: end;


}
.profile {
    display: flex;
}
.profile__text {
    display: flex;
}
.icon {
    display: flex;
}
.btn--flex {
    display: flex;
}